---
services:

  pihole:
    container_name: {{ pihole_container_name }}
    hostname: {{ inventory_hostname }}
    image: {{ pihole_image }}
    restart: unless-stopped
    environment:
{% for var, value in pihole_environment_variables.items() %}
      - {{ var }}={{ value }}
{% endfor %}
    volumes:
      - {{ dir_loc }}/etc/pihole:/etc/pihole
      - {{ dir_loc }}/etc/dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"{% if pihole_environment_variables.DHCP_ACTIVE | lower == 'true' %}
      - "67:67/udp"  # DHCP port
      {% endif %}