- name: Update apt packages
  apt:
    force_apt_get: true
    autoclean: true
    autoremove: true
    update_cache: true
    upgrade: dist
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: upgrade dnf packages
  ansible.builtin.dnf:
    name: '*'
    state: latest
  when: ansible_distribution == 'Rocky' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Check if reboot is needed
  stat:
    path: /var/run/reboot-required
  register: reboot_required

- name: Reboot
  reboot:
  when: reboot_required.stat.exists
