- name: Enable nonlocal IP binding
  blockinfile:
    path: /etc/sysctl.conf
    block: |
      net.ipv4.ip_nonlocal_bind = 1
      net.ipv6.ip_nonlocal_bind = 1
  notify: Reload sysctl config

- name: Flush handlers
  meta: flush_handlers

- name: Install keepalived Debian
  apt:
    force_apt_get: true
    name: keepalived
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Install keepalived CentOS
  yum:
    name:
      - kernel-headers
      - kernel-devel
      - keepalived
    state: present
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Change the keepalived_t domain to permissive
  community.general.selinux_permissive:
    name: keepalived_t
    permissive: true
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

# Since yum doesn't like using notify because yum we have to this instead
- name: Start service keepalived started, if not started
  ansible.builtin.service:
    name: keepalived
    state: stopped
    enabled: true
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Copy check_pihole.sh
  copy:
    dest: /etc/keepalived/check_pihole.sh
    src: check_pihole.sh
    mode: 0755

# Finds the IP_ADDRS of the group and removes the ansible_host from it's peer list
- set_fact:
    peerip_addr: "{{ groups['all'] | map('extract', hostvars, 'ansible_host') | difference(ansible_host) | list }}"
  run_once: true

- name: Configure keepalived
  template:
    dest: /tmp/keepalived.conf
    src: keepalived.j2
    mode: 0644
  notify: Restart keepalived service

- name: Remove ansible junk from config file
  shell: cat /tmp/keepalived.conf | sed 's/[][]//g' | sed "s/['\]//g" > /etc/keepalived/keepalived.conf

- name: Flush handlers
  meta: flush_handlers
