#!/bin/bash

key="-i {{ ansible_user_dir }}/{{ ssh_key.filename }}"
host_key_check="-o StrictHostKeyChecking=no"
target="{{ ansible_user }}@{{ sync_target }}"
sync_dir="{{ ansible_user_dir }}/{{ sync_dir.path }}"
pihole_dir="{{ ansible_user_dir }}/pihole"

if [[ $(ip a | grep {{ sync_target }}) ]]; then
  nice -n 19 sqlite3 $pihole_dir/pihole/gravity.db ".backup $sync_dir/gravity.dump"
fi

if [[ ! $(ip a | grep {{ sync_target }}) ]]; then
  sleep 60

  RSYNC_GRAVITY=$(rsync -a --info=name -e "ssh $key $host_key_check" $target:$sync_dir/gravity.dump $sync_dir)
  if [ $? -eq 0 ]; then
    if [ -n "$RSYNC_GRAVITY" ]; then
      docker stop pihole
      sudo sqlite3 $pihole_dir/pihole/gravity.db ".restore $sync_dir/gravity.dump"
      docker start pihole
    fi
  fi

  RSYNC_DNS=$(rsync -a --info=name -e "ssh $key $host_key_check" $target:$pihole_dir/pihole/custom.list $sync_dir)
  if [ $? -eq 0 ]; then
    if [ -n "$RSYNC_DNS" ]; then
      sudo cp --preserve=timestamps $sync_dir/custom.list $pihole_dir/pihole
    fi
  fi

  RSYNC_CNAME=$(rsync -a --info=name -e "ssh $key $host_key_check" $target:$pihole_dir/dnsmasq.d/05-pihole-custom-cname.conf $sync_dir)
  if [ $? -eq 0 ]; then
    if [ -n "$RSYNC_CNAME" ]; then
      sudo cp --preserve=timestamps $sync_dir/05-pihole-custom-cname.conf $pihole_dir/dnsmasq.d
    fi
  fi
fi

  RSYNC_WILDCARD=$(rsync -a --info=name -e "ssh $key $host_key_check" $target:$pihole_dir/dnsmasq.d/02-cluster.vert-wildcard.conf $sync_dir)
  if [ $? -eq 0 ]; then
    if [ -n "$RSYNC_WILDCARD" ]; then
      sudo cp --preserve=timestamps $sync_dir/02-cluster.vert-wildcard.conf $pihole_dir/dnsmasq.d
    fi
  fi
fi
