#!/bin/bash

key="-i {{ ansible_facts.user_dir }}/{{ sync_ssh_key.filename }}"
host_key_check="-o StrictHostKeyChecking=no"
target="{{ ansible_user }}@{{ sync_target }}"
sync_dir="{{ ansible_facts.user_dir }}/{{ sync_dir.path }}"
pihole_dir="{{ ansible_facts.user_dir }}/pihole"

if [[ $(ip a | grep {{ sync_target }}) ]]; then
  nice -n 19 sqlite3 $pihole_dir/pihole/gravity.db ".backup $sync_dir/gravity.dump"
fi

if [[ ! $(ip a | grep {{ sync_target }}) ]]; then
  sleep 60

  RSYNC_GRAVITY=$(rsync -a --info=name -e "ssh $key $host_key_check" $target:$sync_dir/gravity.dump $sync_dir)
  if [ $? -eq 0 ]; then
    if [ -n "$RSYNC_GRAVITY" ]; then
      docker stop pihole
      sudo sqlite3 $pihole_dir/pihole/gravity.db ".restore $sync_dir/gravity.dump"
      docker start pihole
    fi
  fi

  RSYNC_TOML=$(rsync -a --info=name -e "ssh $key $host_key_check" $target:$pihole_dir/pihole/pihole.toml $sync_dir)
  if [ $? -eq 0 ]; then
    if [ -n "$RSYNC_TOML" ]; then
      docker stop pihole
      sudo cp --preserve=timestamps $sync_dir/pihole.toml $pihole_dir/pihole
      docker start pihole
    fi
  fi
fi
