- name: Create pihole directory
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/pihole"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: directory
    mode: "755"

- name: Start/Update pihole container
  community.docker.docker_container:
    name: pihole
    image: "{{ pihole_image }}"
    pull: true
    restart_policy: unless-stopped
    env:
      TZ: "{{ timezone }}"
      FTLCONF_webserver_api_password: "{{ ftlconf_webserver_api_password }}"
      FTLCONF_dns_upstreams: "{{ ftlconf_dns_upstreams }}"
      FTLCONF_dns_listeningMode: "local"
      FTLCONF_dns_revServers: "{{ ftlconf_dns_revservers }}"
    dns_servers:
      - 127.0.0.1
      - "{{ static_dns }}"
    network_mode: host
    volumes:
      - "/home/{{ ansible_user }}/pihole/pihole/:/etc/pihole/"
    log_driver: json-file
    log_options:
      max-size: "10m"
      max-file: "5"
    capabilities:
      - CAP_NET_BIND_SERVICE
      - CAP_NET_RAW
      - CAP_NET_ADMIN
      - CAP_SYS_NICE
      - CAP_SYS_TIME
      - CAP_CHOWN

- name: Check pihole container
  ansible.builtin.uri:
    url: http://localhost/admin
  register: pihole_result
  until: pihole_result.status == 200
  retries: 5
  delay: 10

- name: Remove old image versions
  community.docker.docker_prune:
    images: true
    images_filters:
      dangling: false
